{% for instruction in instructions %}
    uint8_t do_{{ instruction.mnemonic }}(uint8_t *ptr);
    uint8_t dump_{{ instruction.mnemonic }}(uint8_t *ptr);
    uint8_t create_{{ instruction.mnemonic }}({{ (instruction.create_args + ["uint8_t *ptr, uint64_t size"])|join(', ') }});
    uint8_t create_{{ instruction.mnemonic }}({{ instruction.create_args|join(', ') }});
{% endfor -%}


    uint8_t do_call(uint8_t *ptr);
    uint8_t dump_call(uint8_t *ptr);
    uint8_t create_call(uint64_t func_id, uint64_t n_args, std::vector<uint64_t> args, uint8_t *ptr, uint64_t size);
    uint8_t create_call(uint64_t func_id, uint64_t n_args, std::vector<uint64_t> args);